<section>
   
    <div class="container mt-5" style="padding-left:130px"> 
      <div class="row" >
           <div class="col-md-3" >
             <div class="card" style="background:cornflowerblue;height:15rem" >
              <div class="container">
               <h1 class="text-left"><b></b>{{salesDet.totProducts}}</b></h1> 
              <p>Total Products</p>
             
              </div>
             </div>
           </div>
            <div class="col-md-3 p-3" >
             <div class="card" style="background:red;height:15rem" >
              <div class="container">
              <h1 class="text-left"><b>{{salesDet.itemSold}}</b></h4> 
              <p>Item Sold</p> 
              </div>
             </div>
           </div>
              <div class="col-md-3 p-3" >
             <div class="card" style="background: hsl(60, 100%, 50%);height: 15rem" >
              <div class="container">
             <h1 class="text-left"><b>{{salesDet.totAmount}}</b></h1> 
              <p>Total amount</p> 
              </div>
             </div>
           </div>
              <div class="col-md-3 p-3" >
             <div class="card" style="background:lawngreen;height: 15rem" >
              <div class="container">
              <h1 class="text-left"><b>{{salesDet.totAmount}}</b></h1> 
              <p>Sales Amount</p> 
              </div>
             </div>
           </div>
      </div>
   </div>

   </section>
   
   <section>
   
    <div class="container mt-5" style="padding-left:130px"> 
      <div class="row" >
           <div class="col-md-6" >
             <div class="card" style="background:gray;height:25rem" >
              <div class="container">
              <h4><b>9</b></h4> 
             <p>Total products</p> 
              </div>
             </div>
           </div>
            <div class="col-md-6" >
             <div class="card" style="background:gray;height:25rem" >
              <div class="container">
              <h4><b>5</b></h4> 
             <p>Total sale</p> 
              </div>
             </div>
      
        
      </div>
   </div>

   </section>
   
   