

{{#if admindashboard}}

<nav class="navbar navbar-light" style="background-color:white;color:black" >
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/logout"><span class="glyphicon glyphicon-user" style="color: black;"></span> Logout</a></li>
      </ul>
  </div>
</nav>
<div class="sidebar">
  <ul>
    <li><a href="/admin/admin-login">Admin Home</a> </li>
    <li><a href="/admin/view-vendors">Vendor Management</a> </li>
    <li><a href="/admin/view-categories">Category Management</a> </li>
    <li><a href="/admin/view-orders"></i>Order Management</a> </li>
    <li><a href="/admin/view-users">User Management</a> </li>
    
  </ul>
</div>
{{/if}}