


{{#if vendordashboard}}

<nav class="navbar navbar-light" style="background-color:white;color:black" >
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/logout"><span class="glyphicon glyphicon-user" style="color: black;"></span> Logout</a></li>
      </ul>
  </div>
</nav>

<div class="sidebar">
  <ul>
    <li><a href="/vendor/vendor-dashboard">Vendor Home </a> </li>
    <li><a href="/vendor/view-products">Product Management</a> </li>
    <li><a href="/vendor/view-orders">Order Management</a> </li>
    <li><a href="/vendor/view-orders"></i>Order History</a> </li>
    <li><a href="#"></i>Sales Report</a> </li>
    
  </ul>
</div>
{{/if}}